/* index page */
div {
    -webkit-user-select:none;
}

.index_bg {
    width: 1024px;
    height: 768px;
    background-image: url(../images/index_bg.png);
}

.clickDiv1 {
    position: absolute;
    left: 0px;
    top: 277px;
    width: 266px;
    height: 200px;
}

.clickDiv2 {
    position: absolute;
    left: 266px;
    top: 277px;
    width: 247px;
    height: 200px;
}

.clickDiv3 {
    position: absolute;
    left: 512px;
    top: 277px;
    width: 257px;
    height: 200px;
}

.clickDiv4 {
    position: absolute;
    left: 769px;
    top: 277px;
    width: 254px;
    height: 200px;
}

.pagefooter {
    position: absolute;
    left: 502px;
    top: 745px;
    width: 53px;
    height: 7px;
}

.doctor {
    position: absolute;
    top: 462px;
    width: 430px;
    height: 306px;
}

.doctorInfo {
    position: absolute;
    left: 453px;
    width: 456px;
    height: 75px;
}

.swipeArea {
    position: absolute;
    left: 453px;
    top: 462px;
    width: 560px;
    height: 306px;
}

/* doctor_detail page */

.doctor_detail_1 {
    width: 1024px;
    height: 768px;
    background-image: url(../images/doctor_detail_1.png);
}

.doctor_detail_2 {
    width: 1024px;
    height: 768px;
    background-image: url(../images/doctor_detail_2.png);
}

.doctor_detail_3 {
    width: 1024px;
    height: 768px;
    background-image: url(../images/doctor_detail_3.png);
}

/* navigate page */
.navigate_bg {
    width: 1024px;
    height: 768px;
    background-image: url(../images/navigate_bg.png);
}

.homepage_button {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 118px;
    height: 118px;
}

.navigate_title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 118px;
    background-image: url(../images/navigate_title.png);
}

.navigate_bg2 {
    position: absolute;
    left: 0px;
    top: -439px;
    width: 1024px;
    height: 557px;
    background-image: url(../images/navigate_bg2.png);
    display: none;
}

.main_board {
    position: absolute;
    left: 6px;
    top: -182px;
    width: 1012px;
    height: 305px;
    background-image: url(../images/main_board.png);
    display: none;
}

.board_left_wb {
    position: absolute;
    left: 8px;
    top: -172px;
    width: 433px;
    height: 287px;
    display: none;
}

.board_left_color {
    position: absolute;
    left: 8px;
    top: 133px;
    width: 433px;
    height: 287px;
    opacity: 0;
}

.board_right {
    position: absolute;
    left: 502px;
    top: 133px;
    width: 510px;
    height: 287px;
    opacity: 0;
}

.icon_left {
    position: absolute;
    left: 374px;
    top: 375px;
    width: 114px;
    height: 114px;
    opacity: 0;
}

.icon_right {
    position: absolute;
    left: 553px;
    top: 375px;
    width: 114px;
    height: 114px;
    opacity: 0;
}

.icon_middle {
    position: absolute;
    left: 460px;
    top: 474px;
    width: 114px;
    height: 114px;
    opacity: 0;
}

.bottom_text {
    position: absolute;
    top: 708px;
    width: 578px;
    height: 24px;
    opacity: 0;
}

.bottom_text_1 {
    float: left;
    width: 171px;
    height: 24px;
}

.bottom_text_2 {
    float: left;
    width: 163px;
    height: 24px;
}

.bottom_text_3 {
    float: left;
    width: 150px;
    height: 24px;
}

.bottom_text_4 {
    float: left;
    width: 94px;
    height: 24px;
}

/* video page */

.video_bg {
    width: 1024px;
    height: 768px;
    background-image: url(../images/video_bg.png);
}

.video_title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 59px;
}

//.videoloop1 {
//    position: absolute;
//    left: 453px;
//    top: 633px;
//    width: 456px;
//    height: 75px;
//    background-color: #222222;
//}

/* qa page */

.qa_title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 100px;
    background-image: url(../images/qa_title.png);
}

.qa_main {
    position: absolute;
    top: 190px;
    left: 0px;
    width: 1024px;
    height: 472px;
    background-image: url(../images/qa_main.png);
}

.q_1 {
    float: left;
    width: 243px;
    height: 157px;
}

.q_2 {
    float: left;
    width: 264px;
    height: 157px;
}

.q_3 {
    float: left;
    width: 253px;
    height: 157px;
}

.q_4 {
    float: left;
    width: 264px;
    height: 157px;
}

.q_5 {
    float:left;
    width: 243px;
    height: 158px;
}

.q_6 {
    float: left;
    width: 264px;
    height: 158px;
}

.q_7 {
    float: left;
    width: 253px;
    height: 158px;
}

.q_8 {
    float: left;
    width: 264px;
    height: 158px;
}

.q_9 {
    float:left;
    width: 243px;
    height: 156px;
}

.q_10 {
    float: left;
    width: 264px;
    height: 156px;
}

.q_11 {
    float: left;
    width: 253px;
    height: 156px;
}

.q_12 {
    float: left;
    width: 264px;
    height: 156px;
}

.answer {
    position: absolute;
    width: 518px;
    height: 317px;
    display: none;
}


